.coffe {
  justify-self: stretch;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width:$bp-5) {
    grid-template-columns: min-content;
    justify-content: center;
    row-gap: 5rem;
  }
}

.coffe-box {
  display: grid;
  justify-items: center;
  row-gap: 2rem;

  &__img {
    width: 20vw;

    @media only screen and (max-width:$bp-5) {
      width: 50vw;
    }
  }

  &__about {
    background-color: rgba($color-grey-light-1, .8);
    display: grid;
    grid-template-rows: repeat(2, min-content);
    justify-items: center;
    row-gap: 2rem;
    height: 20rem;
    padding: 1.2rem;

    @media only screen and (max-width:$bp-5) {
      height: min-content;
      padding: 2rem;
    }
  }

}