.logo {
  @include hover-active-1;

  img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;

    @media only screen and (max-width:$bp-5) {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}