.from-down, 
.from-left {
  opacity: 0;
}

.from-left.appear {
  opacity: 1;
  animation: moveInLeft-2 1.5s;
  animation-fill-mode: backwards;

  @media only screen and (max-width:$bp-5) {
    animation: none;
  } 
}

.from-down.appear {
  animation: moveInBottom 1s;
  animation-fill-mode: backwards;
  opacity: 1;

  @media only screen and (max-width:$bp-5) {
    animation: none;
  } 
}