.social {

  @include hover-active-1;

  &__icon {
    width: 2rem;
    height: 2rem;

    @media only screen and (max-width:$bp-5) {
      width: 1.7rem;
      height: 1.7rem;
    }
  }
}