@keyframes moveInLeft-1 {

  0% {
    transform: translateX(-100%);
  }

  80% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0);
  }

}

@keyframes moveInLeft-2 {

  0% {
    transform: translateX(-300%);
  }

  80% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0);
  }

}

@keyframes moveInRight {

  0% {
    transform: translateX(400%);
  }

  80% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0);
  }

}

@keyframes moveInTop {

  0% {
    transform: translateY(-200%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }

}

@keyframes moveInBottom {

  0% {
    transform: translateY(200%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }

}