%heading {
  font-family: $font-primary;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-3;
}

.heading-1 {
  @extend %heading;
  font-size: 6rem;
  color: $color-grey-light-1;
  animation: moveInLeft-1 2s;

  @media only screen and (max-width: $bp-5) {
    font-size: 4.5rem;
  }

  @media only screen and (max-width: $bp-6) {
    font-size: 3rem;
  }
}

.heading-2 {
  @extend %heading;
  font-size: 3.5rem;
  line-height: $line-height-1;

  @media only screen and (max-width: $bp-5) {
    font-size: 2.5rem;
    text-align: center;
    line-height: $line-height-2;
  }

  @media only screen and (max-width: $bp-6) {
    font-size: 2.2rem;
  }

  &--header {
    color: $color-black-coffee;
    animation: moveInRight 2s 1s;
    animation-fill-mode: backwards;
    margin-top: 2rem;
  }

  &--content {
    margin-bottom: 3rem;
  }

  &--presentation {
    grid-column: 1 / -1;
    color: $color-white;

    @media only screen and (max-width:$bp-5) {
      font-size: $fz-1;
    }
  }

  &--contact {
    color: $color-grey-light-1;
  }
}

.heading-4,
.heading-3 {
  font-family: $font-primary;
  font-size: 3.5rem;
  line-height: 1;
}

.heading-3 {

  &--header {
    animation: moveInRight 2s 1s;
    animation-fill-mode: backwards;
    margin-top: 2rem;
    color: $color-grey-light-1;

    @media only screen and (max-width: $bp-5) {
      font-size: 1.7rem;
    }
  }
}

.heading-4 {

  &--contact {
    color: $color-grey-light-1;
  }

  &--content {
    margin-bottom: 3rem;
  }

  &--presentation {
    grid-column: 1 / -1;
    color: $color-grey-light-1;
    font-weight: $fw-4;
  }

  &--contact {
    color: $color-grey-light-1;
  }

  @media only screen and (max-width: $bp-5) {
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.4;
  }

  @media only screen and (max-width: $bp-6) {
    font-size: 2.2rem;
  }
}


.heading-5 {
  @extend %heading;
  font-size: 2rem;

  &--coffe {
    width: max-content;
  }

  &--presentation,
  &--contact {
    font-size: $fz-1;
    letter-spacing: $letter-spacing-1;
    color: $color-orange-espresso;
    line-height: $line-height-1;
  }

  &--presentation {
    @media only screen and (max-width:$bp-5) {
      font-size: 1rem;
    }
  }
}

.par {
  
  line-height: $line-height-2;

  &--about {
    width: 50%;
    font-size: 1.6rem;
  }

  &--about,
  &--coffe {
    text-align: center;
  }

  &--our-story,
  &--content {
    text-align: center;
    margin-bottom: 5rem;
  }

  &--presentation {
    grid-column: 2/7;
    text-align: center;
    color: $color-grey-light-1;
    font-size: $fz-2;
  
    @media only screen and (max-width:$bp-5) {
      font-size: $fz-1;
    }
  }
  
  @media only screen and (max-width:$bp-5) {
    width: 100%;
  }

}