// MARGIN-BOTTOM

.mb-sm {margin-bottom: 1rem;}
.mb-md {margin-bottom: 2rem;}
.mb-lg {margin-bottom: 4rem;}


// MARGIN-TOP

.mtb-lg {margin: 5rem 0;}

// MARGIN-LEFT-RIGHT

.mlr-md {margin: 0 2rem;}